Client/Hotel/Hotel.DesktopUI/Service References/HotelServiceReference/HotelService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hotel.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hotel.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoom" nillable="true" type="tns:ArrayOfRoom" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="npp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
  <xs:complexType name="NewRoom">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionRommId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NumberPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserve" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewRoom" nillable="true" type="tns:NewRoom" />
</xs:schema>