Client/Hotel/Hotel.DesktopUI/Service References/HotelServiceReference/HotelService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hotel.Service.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hotel.Service.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRoomDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomDTO" nillable="true" type="tns:RoomDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomDTO" nillable="true" type="tns:ArrayOfRoomDTO" />
  <xs:complexType name="RoomDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="npp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomDTO" nillable="true" type="tns:RoomDTO" />
  <xs:complexType name="BrokedRoomDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionRommId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserve" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokedRoomDTO" nillable="true" type="tns:BrokedRoomDTO" />
</xs:schema>