Client/Hotel/Hotel.DesktopUI/Service References/HotelServiceReference/HotelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HotelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53344/HotelService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53344/HotelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53344/HotelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hotel.Service.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHotelService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IHotelService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="IHotelService_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_BrokedRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:BrokedRoom" />
  </wsdl:message>
  <wsdl:message name="IHotelService_BrokedRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:BrokedRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_BrokedRoom_StringFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q1:string" />
  </wsdl:message>
  <wsdl:message name="IHotelService_GetId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetId" />
  </wsdl:message>
  <wsdl:message name="IHotelService_GetId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_GetRowById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRowById" />
  </wsdl:message>
  <wsdl:message name="IHotelService_GetRowById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRowByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IHotelService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/DoWork" message="tns:IHotelService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/DoWorkResponse" message="tns:IHotelService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/SelectAll" message="tns:IHotelService_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/SelectAllResponse" message="tns:IHotelService_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BrokedRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/BrokedRoom" message="tns:IHotelService_BrokedRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/BrokedRoomResponse" message="tns:IHotelService_BrokedRoom_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHotelService/BrokedRoomStringFault" name="StringFault" message="tns:IHotelService_BrokedRoom_StringFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetId">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/GetId" message="tns:IHotelService_GetId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/GetIdResponse" message="tns:IHotelService_GetId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRowById">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/GetRowById" message="tns:IHotelService_GetRowById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/GetRowByIdResponse" message="tns:IHotelService_GetRowById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHotelService" type="tns:IHotelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IHotelService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/IHotelService/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BrokedRoom">
      <soap:operation soapAction="http://tempuri.org/IHotelService/BrokedRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetId">
      <soap:operation soapAction="http://tempuri.org/IHotelService/GetId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRowById">
      <soap:operation soapAction="http://tempuri.org/IHotelService/GetRowById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelService">
    <wsdl:port name="BasicHttpBinding_IHotelService" binding="tns:BasicHttpBinding_IHotelService">
      <soap:address location="http://localhost:53344/HotelService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>