Client/Hotel/Hotel.DesktopUI/Service References/HotelServiceReference/HotelService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53344/HotelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hotel.Service.DTOs" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoWorkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hotel.Service.DTOs" minOccurs="0" name="SelectAllResult" nillable="true" type="q1:ArrayOfRoomDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokedRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hotel.Service.DTOs" minOccurs="0" name="room" nillable="true" type="q2:BrokedRoomDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrokedRoomResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numRecord" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRowById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRowByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hotel.Service.DTOs" minOccurs="0" name="GetRowByIdResult" nillable="true" type="q3:RoomDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>