Client/Hotel/Hotel.DesktopUI/Service References/HotelServiceReference/HotelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HotelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53344/HotelService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53344/HotelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53344/HotelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hotel.Entity" />
      <xsd:import schemaLocation="http://localhost:53344/HotelService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hotel.Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHotelService_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="IHotelService_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_GetId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetId" />
  </wsdl:message>
  <wsdl:message name="IHotelService_GetId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_GetRowById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRowById" />
  </wsdl:message>
  <wsdl:message name="IHotelService_GetRowById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRowByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IHotelService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecord" />
  </wsdl:message>
  <wsdl:message name="IHotelService_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IHotelService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IHotelService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IHotelService">
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/SelectAll" message="tns:IHotelService_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/SelectAllResponse" message="tns:IHotelService_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetId">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/GetId" message="tns:IHotelService_GetId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/GetIdResponse" message="tns:IHotelService_GetId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRowById">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/GetRowById" message="tns:IHotelService_GetRowById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/GetRowByIdResponse" message="tns:IHotelService_GetRowById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/GetData" message="tns:IHotelService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/GetDataResponse" message="tns:IHotelService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/AddRecord" message="tns:IHotelService_AddRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/AddRecordResponse" message="tns:IHotelService_AddRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IHotelService/GetDataUsingDataContract" message="tns:IHotelService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHotelService/GetDataUsingDataContractResponse" message="tns:IHotelService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHotelService" type="tns:IHotelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/IHotelService/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetId">
      <soap:operation soapAction="http://tempuri.org/IHotelService/GetId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRowById">
      <soap:operation soapAction="http://tempuri.org/IHotelService/GetRowById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IHotelService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecord">
      <soap:operation soapAction="http://tempuri.org/IHotelService/AddRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IHotelService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelService">
    <wsdl:port name="BasicHttpBinding_IHotelService" binding="tns:BasicHttpBinding_IHotelService">
      <soap:address location="http://localhost:53344/HotelService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>